:root {
  --c-gradient-top: #5b911a;
  --c-gradient-medium: #3ba600;
  --c-gradient-bottom: #004f00;
  --c-gradient-bottom-darker: #003500;
  --c-highlight: #d7ff90;
  --c-border: #001a00;
  
  --button-bg: #ccc;
  --button-highlight: #eee;
  --button-border: #777;
  --button-text: #000;
  --button-outline: #000;
}

* {
  box-sizing: border-box;
}

html {
  background: #000;
  color: #fff;
  font-family: monospace;
  font-size: 13px;
}

a {
  color: var(--c-gradient-medium);
}

.tormater-forum {
  max-width: 80em;
  margin: 0 auto;
}
#forumheader {
  width: 50rem;
  border: 1px solid var(--c-gradient-bottom);
  border-top-color: var(--c-highlight);
  border-left-color: var(--c-highlight);
  background: var(--c-gradient-medium);
  display: inline-block;
  padding: 1px;
}

#copyright {
    min-width: 50%;
    max-width: 50%;
    display: inline-block;
    vertical-align: middle;
}
#language {
    min-width: 50%;
    max-width: 50%;
    float: right;
    text-align: right;
}

.pagination {
  border: 1px solid var(--c-gradient-bottom);
  border-top-color: var(--c-highlight);
  border-left-color: var(--c-highlight);
  background: var(--c-gradient-medium);
  display: inline-block;
  padding: 2px;
  width: 100%;
}

.pagebar {
  width: 50rem;
}

.paginationend, .paginationinside {
  display: inline-block;
}

.pageButton, .pageButtonDisabled, .bbcode {
  background: var(--button-bg);
  border: 1px solid var(--button-border);
  border-top-color: var(--button-highlight);
  border-left-color: var(--button-highlight);
  color: var(--button-text);
  padding: 0px 2px;
  text-decoration: none;
  display: inline-block;
  outline: 1px solid var(--button-outline);
  min-width: 2rem;
  text-align: center;
}
.bbcode {
  margin-right: 1px;
}
.pageButtonDisabled {
  color: #333;
  border: 1px solid var(--button-highlight);
  border-top-color: var(--button-border);
  border-left-color: var(--button-border);
}

.locked, .sticky, .pinned, .draft {
  margin-right: 0.5rem;
}
.locked {
  color: #aaa;
}
.sticky {
  color: #ff8;
}
.pinned {
  color: #f88;
}
.draft {
  color: #8f8;
}


.paginationdots {
  padding: 0px 4px;
  color: #fff;
}

.tdctitle, .tdttitle, #userbar > a, .tdcttitle {
  text-decoration: none;
  filter: invert(100%);
  color: var(--c-gradient-bottom);
}

.tdinfo {
  width: 100%;
  display: inline-block;
}

label {
    display: inline-block;
    width: 25em;
}
.label, .label_multiline {
    display: inline-block;
    margin-right: 10px;
    width: unset;
    color: var(--text-medium);
}
.label_multiline {
    margin-left: 10px;
}
.search_label {
    width: unset;
}


.forumtitle {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px var(--c-gradient-bottom);
  display: inline-block;
  height: 29px;
}
.forumLogo {
  max-height: 29px;
}
#userbar {
  border: 1px solid var(--c-highlight);
  border-top-color: var(--c-gradient-bottom);
  border-left-color: var(--c-gradient-bottom);
  background: #000;
  text-decoration: none;
  color: #fff;
  /*width: max-content;*/
}

#menu {
  width: 30rem;
  border: 1px solid var(--c-gradient-bottom);
  border-top-color: var(--c-highlight);
  border-left-color: var(--c-highlight);
  background: var(--c-gradient-medium);
  display: inline-flex;
  flex-flow: column wrap;
  padding: 2px 2px;
  position: absolute;
  justify-content: end;
  gap: 4px;
  align-items: stretch;
  height: calc(4rem + 2px);
}

.item {
  background: var(--button-bg);
  border: 1px solid var(--button-border);
  border-top-color: var(--button-highlight);
  border-left-color: var(--button-highlight);
  color: var(--button-text);
  outline: 1px solid var(--button-outline);
  text-align: center;
  text-decoration: none;
  flex-shrink: 0
}

div:has(> .searchform) {  
  width: 30rem;
  display: inline-block;
  position: absolute;
}

.searcharea {
  width: 30rem;
  border: 1px solid var(--c-gradient-bottom);
  border-top-color: var(--c-highlight);
  border-left-color: var(--c-highlight);
  background: var(--c-gradient-medium);
  display: inline-grid;
  grid-template-columns: auto max-content;
  padding: 2px 2px;
  gap: 4px;
  align-items: center;
}

h3 {
  border: 1px solid var(--c-gradient-bottom);
  border-top-color: var(--c-highlight);
  border-left-color: var(--c-highlight);
  background: var(--c-gradient-medium);
  padding: 1px;
  margin: 0px;
  font-size: 1rem;
  font-weight: normal;
}

.forminput {
  padding: 2px 0px;
}

input {
  font-size: 1rem;
  font-family: monospace;
  padding: 0px;
  margin: 0px;
  border: 1px solid #444;
  background: #000;
  color: #fff;
}

input, select {
  vertical-align: middle;
}

#searchbox {
  border: 1px solid var(--c-highlight);
  border-top-color: var(--c-gradient-bottom);
  border-left-color: var(--c-gradient-bottom);
}

button, select, .buttonbig, .buttonsmall, input[type=submit] {
  background: var(--button-bg);
  border: 1px solid var(--button-border);
  border-top-color: var(--button-highlight);
  border-left-color: var(--button-highlight);
  color: var(--button-text);
  outline: 1px solid var(--button-outline);
  font-size: 1rem;
  font-family: monospace;
  padding: 0px 2px;
  display: inline-block;
}

a.buttonbig {
  text-decoration: none;
}

.panelMenu {
  margin: 1px 0px;
}

.panelMenu .buttonbig {
  display: inline-block;
}

.panelMenu + script + br, .panelMenu + script + script + br, .panelMenu + br {
  display: none;
}

.bbcodetray {
  display: inline-block;
}

.bbcodetraycontainer {
  margin: 1px 0px;
}

.bcolor::-moz-color-swatch, .bcolor::-webkit-color-swatch {
    background: linear-gradient(in hsl longer hue 90deg, red 0 100%);
}

.bcolor, .forumColor {
  height: 1.3em;
  box-sizing: content-box;
}
.forumColor {
  margin-left: 0.5em;
}

h2, .categorytitle, .categorydesc, .threadtitle, .threadinfo {
  font-size: 1rem;
  color: #fff;
  margin: 0px;
  font-weight: normal;
}

.categorydesc::before {
  content: ": ";
}

.category {
  padding-bottom: 0.5em;
}

.extension_message {
  margin-top: 1em;
}

.auditlog-row {
  border-bottom: 1px solid #444;
}

h2, .categorytitle, .threadtitle 
{
  filter: invert(100%);  
  border: 1px solid var(--c-highlight);
  border-top-color: var(--c-gradient-bottom);
  border-left-color: var(--c-gradient-bottom);
  background: var(--c-gradient-medium);
  text-shadow: 1px 1px var(--c-highlight);
  color: #000;
  display: inline-block;
  padding: 0px 2px;
}

h2 {
  display: block;
  width: max-content;
}

table {
  border: 1px solid var(--c-gradient-bottom);
  border-top-color: var(--c-highlight);
  border-left-color: var(--c-highlight);
  background: var(--c-gradient-medium);
  width: 100%;
}

.userlist-grid {
  border: 1px solid var(--c-gradient-bottom);
  border-top-color: var(--c-highlight);
  border-left-color: var(--c-highlight);
  background: var(--c-gradient-medium);
  width: 100%;
  padding: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2px 8px;
}

.userlist {
  border: 1px solid var(--c-highlight);
  border-top-color: var(--c-gradient-bottom);
  border-left-color: var(--c-gradient-bottom);
  background: #000;
  color: #fff;
}

.userextra {
    padding: 4px 8px;
    box-sizing: border-box;
    border: 1px solid var(--c-gradient-bottom);
    border-top-color: var(--c-highlight);
    border-left-color: var(--c-highlight);
    background: var(--c-gradient-medium)!important;
}
.userbio {
    margin: 2px 0px;
    padding: 1px 2px;
    box-sizing: border-box;
    border: 1px solid var(--c-highlight);
    border-top-color: var(--c-gradient-bottom);
    border-left-color: var(--c-gradient-bottom);
    background: #000;
    color: #fff;
    display: block;
    word-wrap: break-word;
    word-break: break-word;
}
.userpost {
    margin: 2px 0px;
    padding: 1px 2px;
    border: 1px solid var(--c-highlight);
    border-top-color: var(--c-gradient-bottom);
    border-left-color: var(--c-gradient-bottom);
    background: #000;
    box-sizing: border-box;
    word-wrap: break-word;
    word-break: break-word;
}

.captcha {
    height: 60px;
    image-rendering: crisp-edges;
    border: 1px solid var(--input-border);
    filter: contrast(150%);
}
.captchalabel {
    float: left;
    width: 25rem;
}


.userpostlink {
    filter: invert(100%);
}

th > center {
  display:none;
}

.tdthreads, .tdposts {
  width: 3rem;
}

.leftpart {
  width: calc(50rem - 2px);
}

th {
  padding: 0px;
  font-weight: normal;
  background: var(--c-border);
  border: 1px solid var(--c-highlight);
  border-top-color: var(--c-gradient-bottom);
  border-left-color: var(--c-gradient-bottom);
  color: #fff;
}

td {
  border: 1px solid var(--c-highlight);
  border-top-color: var(--c-gradient-bottom);
  border-left-color: var(--c-gradient-bottom);
  background: #000;
  color: #fff;
  padding: 1px 2px;
}

form {
  display: inline-block;
}

form:has(> .formcontainer) {
  display: block;
}
.modtools > form {
  margin-bottom: 0px;
}
.modtools {
  margin: 1px;
}

.formcontainer {
  margin: 1em 0px;
}

.left {
  display: inline-block;
}

.draftbuttons {
  box-sizing: border-box;
  float: right;
  text-align: right;
  padding: 2px 0px;
}

#editthread {
  background: transparent;
  border: none;
  display: block;
  width: 35em;
  color: #fff;
  border: 1px solid #444;
  font-family: monospace;
  font-size: 1rem;
}

textarea {
  background: transparent;
  border: none;
  display: block;
  width: 35em;
  color: #fff;
  border: 1px solid #444;
  font-family: monospace;
  font-size: 1rem;
  padding: 1px 2px;
  width: 80em;
  height: 10em;
}

.message {
  background: #ffbf00;
  color: #000;
  padding: 1px 2px;
  border: 1px solid #e17400;
  border-top-color: #ffdd76;
  border-left-color: #ffdd76;
}

.message a {
  color: #00f;
}

.edit_title_container {
    display: grid;
    grid-template-columns: auto max-content;
    grid-auto-rows: min-content;
}


.settingscolor {
    display: inline-block;
    margin: 1px;
    padding: 1em;
    box-sizing: border-box;
    background-image: linear-gradient(#ffffff3d, #00000012);
    border: 1px solid #0008;
    transition: filter 0.25s;
    border-top-color: #fff6;
    border-left-color: #fff6;
}

.post {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: minmax(150px, min-content) auto;
    grid-gap: 0px;
    margin: 2px 0px;
}

.thread,
.usertop {
    padding: 8px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 0px 1px inset rgba(255, 255, 255, 0.5);
    word-wrap: break-word;
    word-break: break-word;
}

.userstat {
    display: block;
}

.threadcontent,
.userbottom {
    float: right;
    margin: 0;
    padding: 8px;
    background: var(--bg-secondary);
    box-sizing: border-box;
    box-shadow: 0px 1px inset #fff5;
    border: 1px solid var(--border-secondary);
    word-wrap: break-word;
    word-break: break-word;
    color: var(--text-heavy);
    line-height: 1.5;
    text-rendering: optimizelegibility;
    text-shadow: 0px 1px var(--bg-primary);
}
.previewbox {
    display: block;
    padding: 8px;
    background: var(--bg-secondary);
    box-sizing: border-box;
    border: 1px solid var(--border-secondary);
    border-radius: 0 0 8px 8px;
    margin-bottom: 8px;
    margin-top: -12px;
    border-top-width: 4px;
    line-height: 1.5;
    color: var(--text-heavy);
}

.postimg {
    box-sizing: border-box;
    width: auto;
    max-width: 100%;
    max-height: 90vh;
}

.postcode {
    display: block;
    background: var(--button-bg);
    border: 1px solid var(--button-border);
    border-top-color: var(--button-highlight);
    border-left-color: var(--button-highlight);
    padding: 0px 2px;
    text-decoration: none;
    margin: 3px 0px;
    color: #203443;
    font-family: monospace;
    font-size: 1rem;
    white-space: pre-wrap;
}

.postpre {
    display: inline;
    font-size: 15px;
}

.postnewline:has(+ .postheader), .postnewline:has(+ .postsubheader) {
    margin-bottom: 1.5em;
}

.postheader {
    display: block;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
}

.postsubheader {
    display: block;
    font-size: 18px;
}

.postquote {
    border-left: 1px solid var(--c-gradient-top); 
    background-color: #fff2;
    padding: 8px 15px;
    display: inline-block;
    margin: 1em 0px;
    width: 100%;
    box-sizing: border-box;
}
.postquote:nth-child(2), .postquote:first-child { /* :( */
    margin-top: 0px;
}

.postlist {
    margin: 0px;
}

.postlist br {
    display: none;
}

.avatar {
    max-width: 100%;
    box-sizing: border-box;
    max-height: 100px;
    margin: 2px 0px;
    display: block;
}
.avatarPanel {
    max-width: 100%;
    box-sizing: border-box;
    max-height: 100px;
    margin: 2px 0px;
    display: block;
    border: 1px solid rgb(173, 173, 173);
}

.online {
    display: block;
    color: #fff;
    padding: 1px 8px;
    background: linear-gradient(var(--c-gradient-top), var(--c-gradient-bottom));
    text-shadow: 0px 1px var(--c-border);
    text-transform: lowercase;
    font-size: 1rem;
    margin: -8px;
    margin-bottom: 8px;
}

.infobar {
    margin: -6px 0px;
    margin-bottom: 8px;
}

.settingscolor:hover {
    filter: brightness(150%);
    cursor: pointer;
}

a:hover, button:hover, input[type=button]:hover, input[type=submit]:hover {
    text-decoration: underline;
    filter: brightness(125%);
    cursor: pointer;
}

.forumtitle:hover {
    text-decoration: none;
}

.Member {
    color: #fff;
}

.Administrator {
    color: #5fc;
}

.Moderator {
    color: #3bf;
}

.Suspended {
    color: #ddd;
}

[postcolor="1"] {
    background-color: #21434f;
}

[postcolor="2"] {
    background-color: #104610;
}

[postcolor="3"] {
    background-color: #866500;
}

[postcolor="4"] {
    background-color: rgb(145, 0, 0);
}

[postcolor="5"] {
    background-color: #75003a;
}

[postcolor="6"] {
    background-color: rgb(48, 16, 111);
}

[postcolor="7"] {
    background-color: rgb(138, 50, 19);
}

[postcolor="8"] {
    background-color: rgb(45, 69, 115);
}

[postcolor="9"] {
    background-color: #222239;
}

[postcolor="10"] {
    background-color: rgb(49, 42, 38);
}

[postcolor="11"] {
    background-color: #806533;
}

[postcolor="12"] {
    background-color: rgb(87, 62, 40);
}

[postcolor="13"] {
    background-color: rgb(26, 108, 63);
}

[postcolor="14"] {
    background-color: rgb(145, 81, 0);
}

[postcolor="15"] {
    background-color: #550f55;
}

[postcolor="16"] {
    background-color: #222324;
}


@media (max-width: 1040px) {
    #menu, .searcharea, div:has(> .searchform), #forumheader, .pagebar, textarea {
        position: unset;
        width: 100%;
    }
    .searchform {
        display: block;
        width: 100%;
    }
    .searcharea {
        display: grid;
    }

    .leftpart {
        width: 60%;
    }
}

@media (max-width: 800px) {

    #content table th:nth-child(n+3),
    #content table td:nth-child(n+3) {
        display: none;
    }

    .leftpart {
        width: 80%;
    }

    .post {
        display: block;
    }

    .thread,
    .usertop {
        width: 100%;
    }

    .thread b {
        display: inline-block
    }

    .tdthreads, .tdposts {
        width: 20%;
    }

    .threadcontent,
    .userbottom {
        float: none;
        display: block;
        width: 100%;
    }
    .userlist-grid {
        grid-template-columns: 1fr 1fr;
    }
    .avatar {
        display:none;
    }
    .avatarForm {
        padding: 8px;
    }
}
